<!-- <h1>SIGN IN</h1> -->

<div id="new_giphy" class="row">
<form class="col s12 form-style-4" method="post" action='/sessions'>
  <label for="email"> Email:</label>
  <input type="email" name="email" />
  <br>

  <label for="password"> Password:</label>
  <input type="password" name="password">
  <br>
  <br>

	<button class="btn waves-effect waves-light" type="submit" name="action">Submit
  </button>
</form>
</div>