<h3>SIGN UP</h3>
 

  <form class="col s12" method='post' action='/users'>
    <div class="row">
      <div class="input-field col s6">
        <input type="text" name ="user[username]" required="true" />
        <label for="username">username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input type="email" name ="user[email]" required="true"/>
        <label for="email">Email</label>
      </div>
    </div>
  <div class="row">
    <div class="input-field col s6">
      <input type="password" name="user[password]" required="true">
      <label for="password">Password</label>
    </div>
  </div>
  <input class="btn btn-primary" type="submit" value="Sign up" class="button">
  </form>
</div>