<h1>SIGN UP</h1>
 
<form class="form-style-4" method='post' action='/users'>

  <label for="username"><span>Enter Your Username</span></label>
  <input type="text" name ="user[username]" required="true" />
  <br>
  <br>

  <label for="email"><span>Email Address</span></label>
  <input type="email" name ="user[email]" required="true"/>
  <br>
  <br>

  <label for="password">Password:</label>
  <input type="password" name="user[password]" required="true">
  <br>
  <br>
  
  <input type="submit" value='Sign up'>
</form>
