<form id="sign-up" method="post" action="/giphys">
  <p>
    <label for="search">Search:</label>
    <p><input class="input-group-input" type="text" name="giphy[search_term]"> + CAT </p>
  </p>
  <!-- BUTTON -->
  <input class="btn btn-primary" type="submit" value="Search" class="button">
</form>