
<div>
<form  method="post" action="/posts">
  <label class="input-group col-1-3">
    <input class="input-group-input" type="text" name="post[title]">
    <span class="input-group-label"> Title:</span>
  </label>

  <label class="input-group col-1-3">
    <input class="input-group-input" type="text" name="post[comment]">
    <span class="input-group-label"> Comment:</span>
  </label>

  <button type="submit" class="button dark">Post!</button>
</form>
</div>

