 <h1>log in ^^ for catgiphys</h1>
 <div><img src="http://www.okayplayer.com/wp-content/uploads/2014/10/the-roots-cats-lasers-tonight-show.gif"></div>


 <form id="giphy" method="post" action="/giphy">
  <p>
    <label for="search">Search:</label>
    <p><input class="input-group-input" type="text" name="giphy[search_term]"> + CAT </p>
  </p>
  <!-- BUTTON -->
  <input class="btn btn-primary" type="submit" value="Search" class="button">
</form>